langchain
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
groq
langsmith==0.8.5
faiss-cpu
chromadb
sentence-transformers
PyMuPDF
Pillow
pypdf
pandas
openpyxl
python-dotenv
streamlit
rank_bm25
